html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.timer{

  font-size: 1.5em;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation-name: rubberBand;
    animation-duration: 1s;
    position: relative;
}

.deck .card.wrong{
    cursor:default;
    background-color: #cc3c3c;
    animation-name: tada;
    animation-duration: 0.75s;
    position: relative;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.congratBox{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) ;
  width:400px;
  z-index: 1;
}


img.checkbox{
    object-fit: scale-down;
    width:128px;
    height:128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: rubberBand;
    animation-duration: 1s;
    position: relative;
}

/*These animation effects are from http://daneden.github.io/animate.css
 *Author Name: daneden
 *Including rubberBand ,tada and flash
*/
@keyframes rubberBand {
  0% {transform: scale3d(1, 1, 1);}
  30% {transform: scale3d(1.25, 0.75, 1);}
  40% {transform: scale3d(0.75, 1.25, 1);}
  50% {transform: scale3d(1.15, 0.85, 1);}
  65% {transform: scale3d(0.95, 1.05, 1);}
  75% {transform: scale3d(1.05, 0.95, 1);}
  100%{transform: scale3d(1, 1, 1);}
}

@keyframes tada {
  0%{ransform: scale3d(1, 1, 1);}
  10%,20% {transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);}
  30%,50%,70%,90% {transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}
  40%,60%,80% {transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}
  100%{transform: scale3d(1, 1, 1);}
}

@keyframes flash {
  0%,50%,100% {opacity: 1;}
  25%,75% {opacity: 0;}
}

.hurry{
  animation-name: flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.textSection{
  text-align: center;
}
.cheerWords{
    margin-top:-1em;
    color:grey;
}
.rating{
  color:grey;
}
.congrat{
  font-size: 2em;
}
.playAgain{
  background-color: rgb(56, 168, 132);
  border-radius: 12px;
  border:none;
  cursor:pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding:8px 15px;
  box-shadow: 5px 5px 5px #999;
  display: block;
  margin: auto;
}
.playAgain:hover{
  background-color:rgb(46, 132, 104);
  color:white;
}
